.welcome-root {
  height: 100vh;
  background: rgba(1, 11, 72, 255);
  color: white;
}

.welcome-main {
  display: flex;
}

.login-grid {
  width: 400px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  position: absolute;
  left: 40%;
  top: 33%;
  transform: translateY(-30%);
  z-index: 0;
}

.login-grid label {
  align-self: flex-start;
}

.login-input {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 1px solid #4597bc;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  outline: none;
}
.login-button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background: rgba(1, 11, 72, 255);
  box-shadow: 0px 0px 10px rgba(178, 255, 255, 255);
  color: rgba(178, 255, 255, 255);
}

.login-button:hover {
  background-color: rgba(178, 255, 255, 0.8);
  color: black;
}

.walletrest {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.image-div-initial {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 43%;
  left: 45%;
  transform: translate(-50%, -50%);
  /* background: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(178, 255, 255, 255);
  box-shadow: 0px 0px 30px rgba(178, 255, 255, 255);

  /* border-bottom: 1px solid rgba(1, 11, 72, 255);
  border-top: 1px solid rgba(1, 11, 72, 255); */
  z-index: 5;
  /* transform: rotate(90deg); */
}

.image-grid {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  /* background: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(178, 255, 255, 255);
  box-shadow: 0px 0px 20px rgba(178, 255, 255, 255);
  /* border-bottom: 1px solid rgba(1, 11, 72, 255);
  border-top: 1px solid rgba(1, 11, 72, 255); */
  z-index: 5;
}
@media (prefers-reduced-motion: no-preference) {
  .overlay1,
  .overlay2 {
    animation: App-logo-spin infinite 10s linear;
  }
  .overlay3,
  .overlay4 {
    animation: anti-app-logo-spin infinite 10s linear;
  }
}

.image {
  height: 93%;
  width: 93%;
  border-radius: 50%;
  z-index: 20;
  animation: none;
}
.overlay1 {
  position: absolute;
  width: 100px;
  height: 320px;
  background-color: rgba(1, 11, 72, 255);
  /* background-color: pink; */
}
.overlay2 {
  position: absolute;
  width: 320px;
  height: 90px;
  background-color: rgba(1, 11, 72, 255);
  /* background-color: green; */
}
.overlay3 {
  position: absolute;
  width: 120px;
  height: 440px;
  background-color: rgba(1, 11, 72, 255);
}
.overlay4 {
  position: absolute;
  width: 440px;
  height: 120px;
  background-color: rgba(1, 11, 72, 255);
}

.get-started-button {
  position: absolute;
  top: 80%;
  left: 40%;
  /* transform: translate(0, 50%); */
}
.get-started-button button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background: rgba(1, 11, 72, 255);
  box-shadow: 0px 0px 10px rgba(178, 255, 255, 255);
  color: rgba(178, 255, 255, 255);
}
.get-started-button button:hover {
  background-color: rgba(178, 255, 255, 0.8);
  color: black;
}

.left-grid {
  display: flex;
  opacity: 0;
  width: 350px;
  justify-content: space-between;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 9;
}

.left-grid button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background: rgba(1, 11, 72, 255);
  box-shadow: 0px 0px 10px rgba(178, 255, 255, 255);
  color: rgba(178, 255, 255, 255);
}

.left-grid button:hover {
  background-color: rgba(178, 255, 255, 0.8);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anti-app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
